
p {
	font-family: Helvetica, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	line-height: 20px;
}

a:link, 
a:visited,
a:active,
a:hover {
	color:#5f6060;
}
a:hover {
	cursor: pointer
}
a:active {
	padding-top: 2px;
}
#wrapper {
	padding-left: 5%;
}
#pic_holder {
	text-align: left;
	vertical-align: middle;
	padding-top: 5%;
	float: left;
	padding-right: 50px;
	margin-bottom: 10px;
}
#pic {
	margin: 0 auto;
	position: relative;
	background-repeat: no-repeat;
	background-position: 50%;
	border-radius: 50%;
	background-image: url(../images/pic.jpg);
	background-size: cover;
	height: 320px;
	width: 320px;
}
#info_holder {
	font-size: 13px;
	text-align: left;
	padding-top: 10px;
	float: auto;
}

#name {
	padding-top: 10px;
	font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
	font-size: 35px;
	line-height: 30px;
	font-style: normal;
	font-variant: normal;
	margin-bottom: 0px;
}
#headline {
	font-size: 16px;
	color: gray;
}

.links a {
	font-size: 13px;
	padding-right: 5px;
}